// COLOR
$color-white: #ffffff;
$color-gray: #CFCFE4;
$color-gray-blue: #39414B;
$color-gray-green: #5FBF77;

// FONT
$font-size-primary: 18px;
$line-height-primary: 18px;
$font-weight-extra-bold: 800;
$font-Family-primary: nunito;

// SHADOW
$shadow-primary: 0px 10px 13px -4px #23235f30;

// RADIUS
$radius-primary: 18px;
$radius-secondary: 12px;

// BORDER
$border-size-primary: 1px;

// MARGIN/PADDING/GAP
$indent-min: 12px;
$indent-medium: 18px;
$indent-max: 24px;

// NAVBAR
$navbar-size: 264px