@use '../../styles/variables.scss' as var;

$NAVBAR_WIDTH: var.$navbar-size;
$BORDER: var.$border-size-primary solid var.$color-gray;
$INDENT_POSITION: var.$indent-max;
$INDENT: var.$indent-min;
$RADIUS: var.$radius-primary;

.navigate {
  position: relative;
  width: $NAVBAR_WIDTH;
}

.container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  position: fixed;
  padding: $INDENT;
  border: $BORDER;
  border-radius: $RADIUS;
  top: $INDENT_POSITION;
  left: $INDENT_POSITION;
  background-color: transparent;
  z-index: 0;
}

