@use '../../styles/variables.scss' as var;

$NAVBAR_WIDTH: var.$navbar-size;
$BORDER: var.$border-size-primary solid var.$color-gray;
$INDENT_POSITION: var.$indent-max;
$INDENT: var.$indent-min;
$RADIUS: var.$radius-primary;

$BG_LINK_ACTIVE: var.$color-gray-green;
$RADIUS_ACTIVE: var.$radius-secondary;

.navigate {
  position: relative;
  width: $NAVBAR_WIDTH;
}

.container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  position: fixed;
  padding: $INDENT;
  border: $BORDER;
  border-radius: $RADIUS;
  top: $INDENT_POSITION;
  left: $INDENT_POSITION;
  background-color: transparent;
  z-index: 0;
}

.coursore {
  flex: 1;
  width: calc(100% - 24px);
  position: fixed;
  top: 36px;
  left: 36px;
  transition: transform .4s ease-in-out;
  transform: translate(0, 0);
  box-sizing: border-box;
  border-radius: $RADIUS_ACTIVE;
  background: $BG_LINK_ACTIVE;
  z-index: -1;
}