@use '../../styles/variables.scss' as var;
@use '../../styles/mixins.scss' as mix;

$GRID: repeat(3, 1fr);
$INDENT: var.$indent-medium;

.courses {
  flex: 1;
  display: grid;
  height: fit-content;
  grid-template-columns: $GRID;
  gap: $INDENT;
  transform-origin: top center;
  scale: 1;
  opacity: 1;
  animation: load .5s ease-in-out forwards;
  position: relative;
}
